@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-family: "microsoft yahei";
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

/*垂直居中vertical*/
/*水平居中level*/
/*全居中center*/
/*内宽$inner-width*/
/*文章颜色$articleColor*/
/*标题的颜色$titleColor*/
/*图片路径$imgpath:"../img";*/
.content {
  width: 1200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  padding-top: 145px;
  height: 2985px;
}

.content .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  margin-bottom: 115px;
}

.content .title .left {
  float: left;
  font-size: 20px;
  width: 285px;
}

.content .title .left span {
  font-size: 32px;
  color: #45b45a;
}

.content .title .right {
  float: right;
  font-size: 12px;
  width: 155px;
  padding-left: 30px;
}

.content .love-food {
  width: 100%;
  height: 80px;
}

.content .love-food .left {
  float: left;
  height: 100%;
  width: 195px;
  padding-top: 19px;
  box-sizing: border-box;
}

.content .love-food .left p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.content .love-food .left .left-bt {
  width: 100%;
  height: 6px;
}

.content .love-food .left .left-bt span {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  margin-right: 3px;
  margin-top: 3px;
}

.content .love-food .left .left-bt a {
  float: left;
  font-size: 6px;
  color: red;
  margin-left: 6px;
}

.content .love-food .left .left-bt .huang {
  width: 42px;
  height: 8px;
  background: #f0c310;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.content .love-food .right {
  width: 80px;
  float: right;
  height: 100%;
}

.content .love-food .right img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.content .xian {
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed #ccc;
  margin-top: 20px;
}

.content .steps {
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.content .steps .steps1 {
  width: 100%;
  height: 360px;
}

.content .steps .steps1 .left {
  width: 624px;
  height: 360px;
  float: left;
}

.content .steps .steps1 .left img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #ddd;
}

.content .steps .steps1 .right {
  width: 520px;
  height: 360px;
  float: right;
}

.content .steps .steps1 .right .tit {
  margin-top: 20px;
  overflow: hidden;
}

.content .steps .steps1 .right .tit p {
  font-size: 34px;
  color: #333;
  float: left;
}

.content .steps .steps1 .right .tit span {
  width: 18px;
  height: 18px;
  background: #fbb434;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 15px;
  float: left;
}

.content .steps .steps1 .right .cont {
  margin-top: 10px;
}

.content .steps .steps1 .right .cont p {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}

.content .steps .steps2 {
  width: 100%;
  height: 400px;
  margin-top: 80px;
}

.content .steps .steps2 .img-box {
  width: 284px;
  height: 388px;
  float: left;
}

.content .steps .steps2 .img-box img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.content .steps .steps2 .cont-box {
  width: 903px;
  height: 100%;
  float: right;
}

.content .steps .steps2 .cont-box .tit-2 {
  height: 48px;
}

.content .steps .steps2 .cont-box .tit-2 p {
  font-size: 34px;
  color: #333;
  float: left;
  margin-left: 30px;
}

.content .steps .steps2 .cont-box .tit-2 span {
  width: 18px;
  height: 18px;
  background: #fbb434;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 15px;
  float: left;
}

.content .steps .steps2 .cont-box .left-con {
  width: 229px;
  height: 140px;
  float: left;
}

.content .steps .steps2 .cont-box .left-con span {
  font-size: 20px;
  line-height: 45px;
  display: block;
}

.content .steps .steps2 .cont-box .left-con .btn-huang {
  width: 136px;
  height: 40px;
  background: #f9b432;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
}

.content .steps .steps2 .cont-box .right-con {
  float: left;
  width: 673px;
  height: 329px;
}

.content .steps .steps2 .cont-box .right-con .lunbo {
  width: 558px;
  height: 100%;
  float: left;
  position: relative;
}

.content .steps .steps2 .cont-box .right-con .lunbo img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

.content .steps .steps2 .cont-box .right-con .btn-lis {
  width: 115px;
  height: 238px;
  float: right;
  background: url(../img/jianli/4.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.content .steps .steps3 {
  margin-top: 30px;
  background: #f4f4f4;
  width: 100%;
  height: 640px;
}

.content .steps .steps3 .tit3 {
  height: 66px;
}

.content .steps .steps3 .tit3 p {
  font-size: 34px;
  color: #333;
  float: left;
  margin-left: 55px;
  line-height: 66px;
}

.content .steps .steps3 .con3 {
  width: 100%;
  height: 554px;
  margin-top: 20px;
}

.content .steps .steps3 .con3 .left-img {
  width: 200px;
  height: 100%;
  float: left;
}

.content .steps .steps3 .con3 .word-box {
  width: 998px;
  float: left;
  height: 100%;
}

.content .steps .steps3 .con3 .word-box .p {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.content .steps .steps3 .con3 .word-box .p .xuhao {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  float: left;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.content .steps .steps3 .con3 .word-box .p .article {
  font-size: 13px;
  color: #999;
  line-height: 18px;
  margin-left: 10px;
}

.content .steps .steps3 .pos-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.content .zuopin {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 35px 0;
}

.content .zuopin .left {
  float: left;
  width: 260px;
  line-height: 50px;
}

.content .zuopin .left a {
  font-size: 16px;
  color: #175c85;
  float: left;
}

.content .zuopin .left span {
  font-size: 16px;
  color: #999;
  float: left;
}

.content .zuopin .right {
  float: right;
  width: 260px;
  line-height: 50px;
}

.content .zuopin .right a {
  font-size: 16px;
  color: #175c85;
  float: left;
}

.content .zuopin .right span {
  font-size: 16px;
  color: #999;
  float: left;
}

.content .works {
  font-size: 20px;
  margin-bottom: 40px;
  color: #666;
}

.content .works span {
  font-size: 32px;
  color: #45b45a;
}

.content .san-img {
  width: 100%;
  height: 366px;
  margin-bottom: 30px;
}

.content .san-img .san-box {
  float: left;
  width: 382px;
  height: 366px;
  margin-left: 25px;
  position: relative;
}

.content .san-img .san-box img {
  display: block;
}

.content .san-img .san-box p {
  margin-left: 17px;
  margin-top: 18px;
  font-size: 18px;
  color: #333;
}

.content .san-img .san-box .shixian {
  width: 100px;
  height: 1px;
  background: #dedede;
  margin-left: 17px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.content .san-img .san-box .shixian span {
  float: right;
  width: 17px;
  height: 1px;
  background: #f3bd15;
}

.content .san-img .san-box .span {
  font-size: 16px;
  color: #666;
  margin-left: 17px;
}

.content .san-img .first-box {
  margin-left: 0;
}

.content .san-img .last {
  margin-left: 17px;
  margin-top: 14px;
}

.content .san-img .last b {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.content .san-img .last span {
  font-size: 13px;
  color: #999;
  margin-right: 10px;
  float: left;
}

.content .san-img .last .first-b {
  margin-left: 20px;
}

.content .san-img .images {
  position: absolute;
  right: 0;
  bottom: 0;
}

.content .liuyan {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 50px;
}

.content .liuyan .biaoti {
  font-size: 19px;
  line-height: 34px;
  height: 34px;
  color: #444;
  border-bottom: 1px solid #dfdfdf;
}

.content .liuyan .shu {
  width: 100%;
  height: 277px;
  margin-top: 20px;
}

.content .liuyan .shu .tishi {
  height: 34px;
  text-align: right;
  font-size: 14px;
  color: #666;
  box-sizing: border-box;
  padding-right: 55px;
  line-height: 34px;
}

.content .liuyan .shu .left {
  width: 85px;
  height: 85px;
  float: left;
}

.content .liuyan .shu .right {
  float: left;
  width: 1012px;
  height: 182px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 20px;
  color: #999;
}

.content .liuyan .shu .annius {
  margin-top: 16px;
  float: right;
  width: 1060px;
  overflow: hidden;
}

.content .liuyan .shu .annius .right-img1 {
  margin-left: 600px;
}

.content .liuyan .shu .annius .right-img2 {
  margin-left: 70px;
}

.weibu {
  width: 100%;
  height: 1500px;
  margin-top: 3010px;
}

.weibu .position {
  background: #fff;
  width: 1200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.weibu .position .tubiao {
  height: 200px;
  width: 100%;
}

.weibu .position .tubiao div {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.weibu .position .tubiao div .ju {
  margin-right: 30px;
}

.weibu .position .tubiao div span {
  width: 100px;
  height: 100px;
  font-size: 28px;
  color: #999;
  position: relative;
  float: left;
  margin-left: 10px;
}

.weibu .position .tubiao div span img {
  position: absolute;
  left: 0;
  top: 0;
}

.weibu .position img {
  position: absolute;
  top: -340px;
  left: 0;
}

.weibu .position .ttt {
  font-size: 18px;
  color: #333;
  line-height: 28px;
  border-bottom: 1px solid #ddd;
}

.weibu .position .pinglun {
  height: 203px;
  border-bottom: 1px solid #ddd;
}

.weibu .position .pinglun .left-pl {
  float: left;
  height: 203px;
  width: 123px;
  box-sizing: border-box;
  padding-top: 56px;
}

.weibu .position .pinglun .left-pl img {
  position: absolute;
  left: 25px;
  top: 56px;
}

.weibu .position .pinglun .huifu {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.weibu .position .pinglun .huifu span {
  color: #42d1ef;
  margin-left: 20px;
}

.weibu .position .pinglun .right-pl {
  float: left;
  padding-top: 56px;
  margin-left: 25px;
}

.weibu .position .pinglun .right-pl span {
  font-size: 18px;
  color: #333;
}

.weibu .position .pinglun .right-pl .span {
  font-size: 14px;
  color: #999;
}

.weibu .position .pinglun .right-pl p {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.weibu .position .pinglun .right-pl .yin {
  margin-top: 15px;
  color: #ccc;
}

.weibu .position .pinglun .right-pl .yin-box {
  width: 485px;
  height: 92px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
}

.weibu .position .pinglun .right-pl .yin-box .tt-yin {
  font-size: 16px;
  color: #333;
}

.weibu .position .pinglun .right-pl .yin-box span {
  color: #999;
  font-size: 14px;
}

.weibu .position .pinglun2 {
  height: 320px;
}

.weibu .position .pinglun3 {
  height: 420px;
}

.weibu .position .pinglun3 #yin {
  border: 0;
}

.weibu .position .pinglun3 #yin2 {
  border: 0;
}

.weibu .h-anniu {
  width: 536px;
  height: 56px;
  background: #f0c310;
  border-radius: 56px;
  margin: 0 auto;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 5px;
}

.blue {
  background: #155c86;
  width: 100%;
  height: 1100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.black {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.7;
  display: none;
}

.all {
  width: 954px;
  height: 1600px;
  position: absolute;
  left: 0;
  top: 550px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.all .jianli {
  position: relative;
  z-index: 99;
  width: 954px;
  height: 640px;
  background: #efefef;
  margin: 0 auto;
  padding-top: 122px;
  opacity: 0.9;
}

.all .jianli .lunbo-box {
  width: 856px;
  overflow: hidden;
  margin: 0 auto;
}

.all .jianli .lunbo-box .box-lis {
  float: left;
  width: 266px;
  margin-right: 28px;
  box-sizing: border-box;
}

.all .jianli .lunbo-box .box-lis .button {
  text-align: center;
  margin-top: 26px;
  position: relative;
}

.all .jianli .lunbo-box .box-lis .close {
  left: 0;
}

.all .jianli .lunbo-box .box-lis .hei {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  background: #000;
}

.all .jianli .lunbo-box .last {
  margin-right: 0;
}

.all .all-button {
  text-align: center;
  margin-top: 20px;
}

.all .tou {
  position: absolute;
  left: 320px;
  top: -110px;
}

.all .bg {
  position: relative;
  position: absolute;
  right: 50px;
  bottom: 878px;
  z-index: 0;
}

.all .bg .span-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.all .bg .span-btn .left {
  font-size: 24px;
  color: #f0c310;
}

.all .bg .span-btn .right {
  font-size: 24px;
  color: #f0c310;
}

.all .bg .shuzi {
  position: absolute;
  left: 110px;
  top: 65px;
  font-size: 14px;
  color: #fff;
  display: none;
  letter-spacing: 1px;
}

.all .bg .shuzi b {
  font-size: 19px;
  color: #fff;
}

.all .bg .shuzi-first {
  display: block;
}

.all .green {
  width: 444px;
  height: 78px;
  position: absolute;
  left: 153px;
  bottom: 882px;
  background: #1dd473;
  z-index: 100000;
  opacity: 0.3;
}

.all .bai-anniu {
  width: 444px;
  height: 78px;
  position: absolute;
  left: 153px;
  bottom: 882px;
  z-index: 100000;
  padding-top: 30px;
  padding-left: 180px;
  box-sizing: border-box;
}

.all .bai-anniu span {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  background: #fff;
  border-radius: 50%;
}

.all .bai-anniu .first-class {
  background: #f0c310;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.all .close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.all-second {
  margin-top: 900px;
}

.all-second .jianli {
  height: 580px;
}

.all-second .tou {
  left: 365px;
}

.all-second .bg {
  bottom: 938px;
}

.all-second .green {
  bottom: 942px;
}

.all-second .bai-anniu {
  bottom: 942px;
}
