@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-family: "microsoft yahei"; }

a {
  text-decoration: none; }

img {
  border: 0; }

/*chuizhijuzhong vertical*/
/*shuipingjuzhong level*/
/*quanjuzhong center*/
/*neikuan $inner-width*/
/*wenzhangyanse $articleColor*/
/*biaotiyanse $titleColor*/
/*tupianlujing $imgpath:"../img";*/
#top {
  width: 100%;
  height: 830px;
  background: url("../img/base/banner.jpg");
  background-size: cover; }
  #top .header {
    width: 100%;
    height: 830px;
    background-color: rgba(15, 77, 104, 0.5);
    position: relative; }
    #top .header #header {
      background: rgba(9, 69, 98, 0.5);
      height: 145px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100; }
      #top .header #header .typebox {
        width: 1200px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto; }
        #top .header #header .typebox .logo {
          position: absolute;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: -140px; }
          #top .header #header .typebox .logo img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto; }
        #top .header #header .typebox .type {
          float: left;
          margin-top: 60px;
          width: 237px;
          padding-right: 45px; }
          #top .header #header .typebox .type a {
            display: block;
            width: auto;
            height: auto; }
            #top .header #header .typebox .type a span {
              font-size: 14px;
              color: #ccc;
              line-height: 1.1;
              letter-spacing: 2px; }
            #top .header #header .typebox .type a hr {
              color: #999;
              width: 50px;
              height: 1px;
              border-top: 0;
              border-bottom: 0;
              border-left: 65px solid #fff;
              border-right: 10px solid #ffcd1f;
              margin: 5px 0; }
            #top .header #header .typebox .type a p {
              font-size: 18px;
              color: #fff;
              line-height: 1.1; }
            #top .header #header .typebox .type a:after {
              content: "";
              border-right: 1px dashed #999;
              display: block;
              position: absolute;
              left: 192px;
              top: 7px;
              height: 40px; }
          #top .header #header .typebox .type .act {
            margin-top: 8px;
            display: none; }
            #top .header #header .typebox .type .act img {
              display: block; }
          #top .header #header .typebox .type .headermove {
            display: block; }
        #top .header #header .typebox .type:nth-of-type(4) a:after {
          border: 0; }
        #top .header #header .typebox .search {
          position: absolute;
          right: -125px;
          top: 65px;
          width: 423px;
          height: 47px;
          border: 2px solid #ccc;
          border-radius: 30px;
          background-color: rgba(255, 255, 255, 0.1);
          z-index: 0; }
          #top .header #header .typebox .search .yuan {
            position: absolute;
            left: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #ffcd1f;
            z-index: 3; }
            #top .header #header .typebox .search .yuan:after {
              content: "|";
              display: block;
              position: absolute;
              left: 24px;
              top: -8px;
              color: #ccc; }
          #top .header #header .typebox .search input {
            position: absolute;
            border: 0;
            background: transparent;
            width: 310px;
            height: 43px;
            left: 37px;
            top: 0;
            z-index: 2; }
          #top .header #header .typebox .search img {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1; }
    #top .header #banner {
      width: 1680px;
      height: 830px;
      padding-top: 180px;
      padding-left: 240px;
      display: block;
      position: relative; }
      #top .header #banner li {
        position: absolute;
        top: 240px;
        left: 240px;
        width: 1440px;
        height: 650px;
        float: left;
        opacity: 0; }
        #top .header #banner li a {
          width: 100%;
          height: 100%;
          display: block;
          overflow: hidden; }
          #top .header #banner li a img {
            width: 100%;
            position: absolute;
            bottom: -89px; }
      #top .header #banner .first {
        opacity: 1; }
    #top .header .big-box {
      position: absolute;
      top: 540px;
      left: 120px;
      width: 150px;
      height: 150px;
      background-color: rgba(191, 214, 67, 0.5); }
    #top .header .small-box {
      position: absolute;
      top: 510px;
      left: 90px;
      width: 60px;
      height: 60px;
      background-color: rgba(191, 214, 67, 0.5); }
    #top .header .box-right {
      position: absolute;
      top: 300px;
      left: 1680px;
      width: 70px;
      height: 480px;
      background-color: rgba(47, 175, 152, 0.5); }
    #top .header .pipei {
      position: absolute;
      left: 330px;
      top: 730px;
      width: 1240px;
      height: 230px;
      background: url("../img/base/hz.png");
      background-size: cover; }
      #top .header .pipei .pipei-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: block; }
    #top .header .pre {
      position: absolute;
      top: 350px;
      left: 164px;
      width: 590px;
      height: 260px;
      background: url("../img/base/zwlb.png"); }
    #top .header .nav {
      width: 50px;
      height: 995px;
      background: #242629;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100; }
      #top .header .nav .nav-m {
        width: 100%;
        height: 458px;
        margin-top: 186px; }
        #top .header .nav .nav-m li {
          width: 33px;
          height: 33px;
          margin-left: 10px;
          margin-top: 40px;
          background: rgba(42, 46, 52, 0.5);
          border-radius: 50%; }
        #top .header .nav .nav-m .first {
          background: #10c8f0; }
    #top .header .point {
      position: absolute;
      top: 480px;
      left: 1720px;
      width: 120px;
      height: 230px;
      z-index: 2;
      background-color: rgba(249, 209, 50, 0.9); }
      #top .header .point .point-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: block; }
        #top .header .point .point-box .uls {
          position: absolute;
          top: 30px;
          left: 0;
          width: 70px;
          height: 100px;
          display: block; }
          #top .header .point .point-box .uls .lis {
            float: left;
            height: 25%;
            width: 100%; }
            #top .header .point .point-box .uls .lis div {
              width: 13px;
              height: 13px;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              background: #fff;
              border-radius: 50%;
              border: 1px solid #fff; }
          #top .header .point .point-box .uls .active div {
            background: transparent; }
        #top .header .point .point-box .button {
          position: absolute;
          top: 150px;
          left: 0;
          width: 75px;
          height: 40px;
          display: block;
          border-radius: 0 20px 20px 0;
          background: #fff;
          overflow: hidden; }
          #top .header .point .point-box .button .left {
            padding-top: 10px;
            padding-left: 25px;
            width: 40px;
            height: 30px;
            float: left;
            font-size: 20px;
            font-weight: bold;
            color: #f0c310; }
          #top .header .point .point-box .button .right {
            font-size: 20px;
            padding-top: 10px;
            margin-left: 5px;
            width: 25px;
            height: 30px;
            float: left;
            font-weight: bold;
            color: #f0c310; }
        #top .header .point .point-box .text {
          position: absolute;
          left: 70px;
          top: 100px;
          width: 40px;
          height: auto;
          overflow: hidden; }
          #top .header .point .point-box .text span {
            font-size: 13px;
            color: #fff;
            line-height: 13px; }
            #top .header .point .point-box .text span h1, #top .header .point .point-box .text span h5 {
              float: left; }

/*sousuo*/
.sousuo {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  margin-top: 183px; }
  .sousuo .shuru {
    width: 994px;
    height: 80px;
    border: 1px solid #cccccc;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #999;
    padding-left: 20px; }
  .sousuo .sou {
    width: 178px;
    height: 100%;
    background: #40d1f1;
    margin-left: 1024px;
    color: #fff;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    border: 0; }

/*xuanze*/
.xuan {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
  margin-top: 50px; }
  .xuan .lei {
    width: 224px;
    height: 100%;
    border: 1px solid #ccc;
    float: left;
    margin-right: 20px;
    font-size: 12px;
    color: #7e7e7e;
    line-height: 36px;
    padding-left: 12px; }
  .xuan .last {
    margin-right: 0; }

/* zhiwei*/
.zhiwei {
  width: 1200px;
  height: 1024px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 54px; }
  .zhiwei .zhiwei-m {
    width: 1145px;
    height: 100%;
    margin: 0 auto; }
    .zhiwei .zhiwei-m .zc {
      width: 100%;
      height: 169px;
      border-bottom: 1px solid #ccc;
      posirion: relative; }
      .zhiwei .zhiwei-m .zc img {
        border: 1px solid #ccc;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block; }
      .zhiwei .zhiwei-m .zc .sjs {
        width: 408px;
        height: 114px;
        position: absolute;
        left: 161px;
        top: 27px;
        border-right: 1px solid #ccc; }
        .zhiwei .zhiwei-m .zc .sjs .wy {
          color: #3f3f3f;
          font-size: 18px;
          margin-top: 12px; }
        .zhiwei .zhiwei-m .zc .sjs .wy2 {
          margin-top: 25px; }
          .zhiwei .zhiwei-m .zc .sjs .wy2 .yx {
            color: #9b9b9b;
            font-size: 12px;
            margin-right: 15px; }
          .zhiwei .zhiwei-m .zc .sjs .wy2 .two {
            color: #f8db69; }
        .zhiwei .zhiwei-m .zc .sjs .wy3 {
          margin-top: 3px; }
          .zhiwei .zhiwei-m .zc .sjs .wy3 .yx {
            color: #9b9b9b;
            font-size: 10px; }
      .zhiwei .zhiwei-m .zc .mt {
        width: 185px;
        height: 114px;
        position: absolute;
        left: 611px;
        top: 27px; }
        .zhiwei .zhiwei-m .zc .mt .kb {
          color: #3f3f3f;
          font-size: 18px;
          margin-top: 12px; }
        .zhiwei .zhiwei-m .zc .mt .int {
          color: #9b9b9b;
          font-size: 12px;
          margin-top: 22px; }
        .zhiwei .zhiwei-m .zc .mt .mk {
          margin-top: 3px; }
          .zhiwei .zhiwei-m .zc .mt .mk span {
            color: #9b9b9b;
            font-size: 11px;
            border: 1px solid #ccc;
            border-radius: 3px; }
      .zhiwei .zhiwei-m .zc .an {
        width: 142px;
        height: 42px;
        background: #40d1f1;
        color: #fff;
        font-size: 18px;
        border-radius: 8px;
        border: 0px;
        position: absolute;
        right: 0px;
        top: 52px; }
    .zhiwei .zhiwei-m .ye {
      width: 100%;
      height: 178px; }
      .zhiwei .zhiwei-m .ye .ye-m {
        width: 525px;
        height: 26px;
        margin: 0 auto;
        margin-left: 308px;
        margin-top: 76px;
        line-height: 178px; }
        .zhiwei .zhiwei-m .ye .ye-m a {
          font-size: 16px;
          color: #999999;
          float: left;
          height: 26px;
          line-height: 26px;
          margin-right: 9px; }
        .zhiwei .zhiwei-m .ye .ye-m .ye {
          margin-right: 0px;
          width: 20px; }
        .zhiwei .zhiwei-m .ye .ye-m .ym {
          border: 1px solid #ccc;
          width: 26px;
          height: 26px;
          text-align: center; }
        .zhiwei .zhiwei-m .ye .ye-m .ku {
          width: 38px;
          height: 26px;
          border: 1px solid #ccc; }

/*qiye*/
.qiye {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 73px; }
  .qiye .q-left {
    width: 330px;
    height: 100%;
    float: left;
    margin-left: 10px;
    position: relative; }
    .qiye .q-left .tuijian {
      width: 40px;
      height: 100%;
      float: left; }
      .qiye .q-left .tuijian .ju {
        width: 30px;
        height: 4px;
        background: #ebc243;
        float: left;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 5px; }
      .qiye .q-left .tuijian .yuan {
        width: 6px;
        height: 6px;
        background: #ebc243;
        border-radius: 50%;
        float: left;
        position: absolute;
        left: 34px;
        top: 5px; }
      .qiye .q-left .tuijian span {
        color: #575757;
        font-size: 18px;
        position: absolute;
        left: 0px;
        top: 15px;
        font-weight: 800;
        font-family: "榛戜綋绻佷綋"; }
    .qiye .q-left .qi {
      font-size: 31px;
      color: #45b45a;
      font-weight: 800;
      font-family: "榛戜綋绻佷綋";
      float: left; }
    .qiye .q-left .dis {
      color: #575757;
      font-size: 25px;
      font-weight: 800;
      margin-top: 8px;
      float: left;
      font-family: "榛戜綋绻佷綋"; }
  .qiye .q-right {
    width: 65px;
    height: 100%;
    float: right;
    margin-right: 10px; }
    .qiye .q-right .yuan {
      width: 6px;
      height: 6px;
      background: #48abff;
      float: left;
      border-radius: 50%;
      margin-right: 6px;
      margin-top: 20px; }
    .qiye .q-right .ju {
      width: 26px;
      height: 6px;
      background: #48abff;
      float: left;
      border-radius: 5px;
      margin-top: 20px; }

/*img*/
.pic {
  width: 1200px;
  height: 275px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 140px; }
  .pic .img {
    width: 278px;
    height: 275px;
    float: left;
    margin-right: 29px;
    position: relative; }
    .pic .img .zhe {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(32, 43, 36, 0.7);
      opacity: 0; }
      .pic .img .zhe .z1 {
        width: 107px;
        height: 16px;
        color: #fff;
        font-size: 16px;
        margin-left: 87px;
        margin-top: 50px; }
      .pic .img .zhe hr {
        width: 40px;
        height: 2px;
        color: #fff;
        margin-left: 120px;
        margin-top: 20px; }
      .pic .img .zhe .z2 {
        width: 215px;
        height: 60px;
        margin-left: 30px;
        margin-top: 20px;
        color: #fff;
        font-size: 14px; }
      .pic .img .zhe .z3 {
        width: 125px;
        height: 40px;
        border: 1px solid #fff;
        margin-left: 80px;
        margin-top: 40px;
        color: #fff;
        line-height: 40px;
        text-align: center; }
    .pic .img .zhe:hover {
      opacity: 1; }
  .pic .last {
    margin-right: 0; }

/*footer*/
#footer {
  width: 100%;
  height: 304px;
  background-color: #2d2d2d; }
  #footer .ftbox {
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
    #footer .ftbox .ftlogo {
      display: block;
      float: left;
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 75px; }
    #footer .ftbox .gedang {
      float: left;
      width: 1px;
      height: 136px;
      margin-top: 70px;
      border-right: 1px solid #999; }
      #footer .ftbox .gedang:after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #999;
        position: absolute;
        bottom: 0;
        left: -2px; }
      #footer .ftbox .gedang:before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #999;
        position: absolute;
        top: 0;
        left: -2px; }
    #footer .ftbox .ftcenter {
      float: left;
      max-width: 670px;
      height: auto;
      margin-left: 45px; }
      #footer .ftbox .ftcenter .about {
        margin-top: 70px; }
        #footer .ftbox .ftcenter .about li {
          float: left;
          margin-right: 45px; }
          #footer .ftbox .ftcenter .about li a {
            color: #a7a5a5;
            font-size: 16px; }
      #footer .ftbox .ftcenter .xuxian {
        width: 250px;
        height: 2px;
        border-bottom: 2px dotted #999;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        float: left;
        margin: 12px 0; }
      #footer .ftbox .ftcenter .ICP {
        float: left;
        line-height: 1; }
        #footer .ftbox .ftcenter .ICP span {
          font-size: 14px;
          color: #999; }
      #footer .ftbox .ftcenter .icon {
        float: left; }
        #footer .ftbox .ftcenter .icon img {
          display: block;
          float: left;
          margin: 25px 25px 0 0; }
    #footer .ftbox .QRcode {
      position: absolute;
      right: 0;
      top: 70px;
      width: 140px;
      height: 140px;
      background: #25b0ff; }

/*# sourceMappingURL=position.css.map */
