@import "base";

#ce-anv{
    width: 66px;
    height: 834px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    right: 0;
    top: 0;
    .touxiang{
        width: 60px;
        height: auto;
        @include level;
        margin-top: 70px;
    }
    .xingxing{
        width: 66px;
        height: 30px;
        margin-top: 10px;
        img{
            margin-left: -10px;
        }
        img:nth-of-type(1){
            margin-left: 0;
        }
        hr{
            width: 60px;
            color: #3c4851;
            height: 1px;
            border-bottom: 0;
            border-top: 0;
            border-left: 55px solid #3c4851;
            border-right: 5px solid #fff;
        }
    }
    .tubiao{
        width: 43px;
        height: auto;
        @include level;
        margin-top: 75px;
        li{
            width: 100%;
            height: 43px;
            margin-bottom: 30px;
            position: relative;
            cursor: pointer;
        }
        li:nth-of-type(1){
            margin-bottom: 20px;
        }
        li:nth-of-type(2){
            margin-bottom: 40px;
        }
        .zy{
            position: absolute;
            left: -250%;
            top: -5px;
            opacity: 0;
            transition: all 0.2s linear;
        }
        li:nth-of-type(5){
            margin-bottom: 100px;
        }
        li:nth-of-type(7){
            width: 36px;
            @include level;
        }
        li:hover .zy{
            opacity: 1;
        }
    }
}
