@import "base";

#header{
    background-color: #14587f;
    height: 145px;
    width: 100%;
    opacity: 1;
    .typebox{
        width: #{$inner-width};
        height:100%;
        @include level;
        .logo{
            position: absolute;
            @include vertical;
            left: -140px;
            img{
                @include vertical;
            }
        }
        .type{
            float: left;
            margin-top: 60px;
            width: 237px;
            padding-right: 45px;
            a{
                display: block;
                width: auto;
                height: auto;
//              padding-right: 50px;
                span{
                    font-size: 14px;
                    color: #ccc;
                    line-height: 1.1;
                    letter-spacing:2px;
                }
                hr{
                    color: #999;
                    width: 50px;
                    height: 1px;
                    border-top:0 ;
                    border-bottom: 0;
                    border-left:65px solid #999;
                    border-right: 10px solid #ffcd1f;
                    margin: 5px 0;
                }
                p{
                    font-size: 18px;
                    color: #fff;
                    line-height: 1.1;
                }
                &:after{
                    content: "";
                    border-right: 1px dashed #999;
                    display: block;
                    position: absolute;
                    left: 192px;
                    top: 7px;
                    height: 40px;
                }
            }
            .act{
                margin-top: 8px;
                display: none;
                img{
                    display: block;
                }
            }
            .headermove{
                display: block;
            }
        }
        .type:nth-of-type(4){
            a{
                &:after{
                    border: 0;
                }
            }
        }
        .search{
            position: absolute;
            right: -125px;
            top: 65px;
            width: 423px;
            height: 47px;
            border: 2px solid #ccc;
            border-radius: 30px;
            background-color: rgba(255,255,255,0.1);
            z-index: 0;
            .yuan{
                position: absolute;
                left: 10px;
                @include vertical;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color:#ffcd1f ;
                z-index: 3;
                &:after{
                    content: "|";
                    display: block;
                    position: absolute;
                    left: 24px;
                    top: -8px;
                    color: #ccc;
                }
            }
            input{
                position: absolute;
                border: 0;
                background: rgba(0,0,0,0);
                width: 310px;
                height: 43px;
                left: 37px;
                top: 0;
                z-index: 2;
            }
            img{
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
            }
        }
    }
}

